$header: #361946;
$purple: #361946;
$aqua: #034a59;
$yellow: #f89c1b;
$paragraph: #464646;
$dark_text: #262626;
$light_text: #ffffff;

$grayscale_gradient: linear-gradient(to right, #eeeef1, #d1e1e5);
$purple-gradient: linear-gradient(45deg, #89288f, #4b2063);
$aqua-gradient: linear-gradient(-135deg, #3ebca6 0%, #057f99 50%, #006b81 100%);